#include <windows.h>

#define PRODUCT_NAME_STR     "extDB3 Debug"
#define PRODUCT_DESCRIPTION  "Arma3 Database Extension"
#define VER_VERSION          1,0,3,2
#define VER_VERSION_STR      "1.0.3.2"

VS_VERSION_INFO VERSIONINFO
FILEVERSION VER_VERSION
PRODUCTVERSION VER_VERSION
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS VOS__WINDOWS32
FILETYPE VFT_DLL
FILESUBTYPE VFT2_UNKNOWN
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "000004b0"
BEGIN
VALUE "FileDescription", PRODUCT_DESCRIPTION
VALUE "FileVersion", VER_VERSION_STR
VALUE "ProductName", PRODUCT_NAME_STR
VALUE "ProductVersion", VER_VERSION_STR
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x0, 1200
END
END
